{% set can_view, can_edit = submission_layout(submission, profile_id, request.user, completed_problem_ids, editable_problem_ids, tester_problem_ids) %}
<div class="sub-result {{ submission.result_class }}">
    <div class="score">
        {%- if submission.is_graded -%}
            {%- if submission.status in ('IE', 'CE', 'AB') -%}
                ---
            {%- else -%}
                {{ submission.case_points|floatformat(0) }} / {{ submission.case_total|floatformat(0) }}
            {%- endif -%}
        {%- else -%}
            <i class="fa fa-spinner fa-pulse grading-spinner"></i>
        {%- endif -%}
    </div>

    <div class="state">
        <span title="{{ submission.long_status }}" class="status">{{ submission.short_status }}</span>
        <span class="state-sep">&bull;</span>
        <span class="language">{{ submission.language.short_display_name }}</span>
    </div>
</div>

<div class="sub-main">
    <div class="sub-info{% if submission.status == 'G' %} sub-info-grading{% endif %}">
        {% if show_problem %}
            <div class="name">
                <a href="{{ url('problem_detail', submission.problem.code) }}">{{ problem_name }}</a>
            </div>
        {% endif %}
        <div class="sub-meta">
            {{ link_user(submission.user) }}
            <span class="meta-sep">&bull;</span>
            <span class="time">{{ relative_time(submission.date) }}</span>
            {% if not request.in_contest and submission.contest_object_id %}
                <a href="{{ url('contest_view', submission.contest_object.key) }}"
                   class="submission-contest">
                    <i title="{{ submission.contest_object.name }}" class="fa fa-dot-circle-o"></i>
                </a>
            {% endif %}
            {% if submission.is_archived %}
                <i class="fa fa-archive"></i>
            {% endif %}
        </div>
    </div>

    {% if submission.status == 'G' %}
        <div class="sub-testcase">
            {%- if submission.current_testcase > 0 -%}
                {{ _('Case #%(case)s', case=submission.current_testcase) }}
            {%- else -%}
                ...
            {%- endif -%}
        </div>
    {% endif %}
</div>

<div class="sub-right-group">
    {% if can_view %}
        <div class="sub-prop">
            <a href="{{ url('submission_status', submission.id) }}" class="sub-pill-btn" title="{{ _('view') }}">
                <i class="fa fa-eye"></i><span class="label">{{ _('view') }}</span>
            </a>
            {% if perms.judge.rejudge_submission and can_edit %}
                {% if not submission.is_locked %}
                    <a href="#" onclick="rejudge_submission({{ submission.id }}, event);return false" class="sub-pill-btn" title="{{ _('rejudge') }}">
                        <i class="fa fa-refresh"></i><span class="label">{{ _('rejudge') }}</span>
                    </a>
                {% else %}
                    <span class="sub-pill-btn disabled" title="{{ _('This submission has been locked, and cannot be rejudged.') }}">
                        <i class="fa fa-lock"></i><span class="label">{{ _('locked') }}</span>
                    </span>
                {% endif %}
            {% endif %}
            {% if can_edit %}
                <a href="{{ url('admin:judge_submission_change', submission.id) }}" class="sub-pill-btn" title="{{ _('admin') }}">
                    <i class="fa fa-cog"></i><span class="label">{{ _('admin') }}</span>
                </a>
            {% endif %}
        </div>
        <div class="sub-divider"></div>
    {% endif %}

    <div class="sub-usage">
        {% if submission.status in ('QU', 'P', 'G', 'CE', 'IE', 'AB') %}
            <div class="time"><i class="fa fa-clock-o"></i> ---</div>
            <div class="memory"><i class="fa fa-microchip"></i> ---</div>
        {% else %}
            {% if "TLE" != submission.result %}
                <div title="{{ submission.time or 0 }}s" class="time">
                    <i class="fa fa-clock-o"></i> {{ (submission.time or 0)|floatformat(2) }}s
                </div>
            {% else %}
                <div class="time"><i class="fa fa-clock-o"></i> ---</div>
            {% endif %}
            <div class="memory"><i class="fa fa-microchip"></i> {{ submission.memory|kbdetailformat }}</div>
        {% endif %}
    </div>
</div>
