{% extends "base.html" %}

{% block js_media %}
    <script type="text/javascript" src="{{ static('libs/jquery-sortable.js') }}"></script>
    <script type="text/javascript" src="{{ static('libs/featherlight/featherlight.min.js') }}"></script>
    <script type="text/javascript">
        window.valid_files = {{ valid_files_json }};
        $(function () {
            function getMatchingOutputFile(inputFile, validFiles) {
                if (!inputFile || !validFiles) return null;
                var exts = [
                    [/\.inp$/i, ['.out', '.OUT', '.ans', '.ANS']],
                    [/\.in$/i, ['.out', '.OUT', '.ans', '.ANS']],
                    [/\.txt$/i, ['.out', '.OUT', '.ans', '.ANS', '.txt']]
                ];
                for (var i = 0; i < exts.length; i++) {
                    var pattern = exts[i][0];
                    var targets = exts[i][1];
                    if (pattern.test(inputFile)) {
                        for (var j = 0; j < targets.length; j++) {
                            var candidate = inputFile.replace(pattern, targets[j]);
                            if (validFiles.indexOf(candidate) !== -1) return candidate;
                        }
                    }
                }
                var pathReplacements = [
                    [/\/inp\//i, '/out/'],
                    [/\/in\//i, '/out/'],
                    [/\/input\//i, '/output/'],
                    [/input/i, 'output'],
                    [/inp/i, 'out'],
                    [/in(?!.*?in)/i, 'out']
                ];
                for (var k = 0; k < pathReplacements.length; k++) {
                    var cand = inputFile.replace(pathReplacements[k][0], pathReplacements[k][1]);
                    if (cand !== inputFile && validFiles.indexOf(cand) !== -1) return cand;
                }
                return null;
            }

            function getMatchingInputFile(outputFile, validFiles) {
                if (!outputFile || !validFiles) return null;
                var exts = [
                    [/\.out$/i, ['.inp', '.INP', '.in', '.IN']],
                    [/\.ans$/i, ['.inp', '.INP', '.in', '.IN']],
                    [/\.txt$/i, ['.inp', '.INP', '.in', '.IN', '.txt']]
                ];
                for (var i = 0; i < exts.length; i++) {
                    var pattern = exts[i][0];
                    var targets = exts[i][1];
                    if (pattern.test(outputFile)) {
                        for (var j = 0; j < targets.length; j++) {
                            var candidate = outputFile.replace(pattern, targets[j]);
                            if (validFiles.indexOf(candidate) !== -1) return candidate;
                        }
                    }
                }
                var pathReplacements = [
                    [/\/out\//i, '/inp/'],
                    [/\/out\//i, '/in/'],
                    [/\/output\//i, '/input/'],
                    [/output/i, 'input'],
                    [/out/i, 'inp'],
                    [/out/i, 'in'],
                    [/out(?!.*?out)/i, 'in']
                ];
                for (var k = 0; k < pathReplacements.length; k++) {
                    var cand = outputFile.replace(pathReplacements[k][0], pathReplacements[k][1]);
                    if (cand !== outputFile && validFiles.indexOf(cand) !== -1) return cand;
                }
                return null;
            }

            function autofill_if_exists($select, file) {
                if (file && !$select.val() && ~window.valid_files.indexOf(file))
                    $select.val(file).trigger('change');
            }

            var $table = $('#case-table');
            $table.on('add-row', function (e, $tr) {
                $tr.find('input').filter('[id$=file]').each(function () {
                    var $select, val = $(this).replaceWith($select = $('<select>').attr({
                        id: $(this).attr('id'),
                        name: $(this).attr('name'),
                        style: 'width: 100%'
                    })).val();
                    $select.select2({
                        theme: '{{ DMOJ_SELECT2_THEME }}',
                        data: window.valid_files,
                        allowClear: true,
                        placeholder: ''
                    }).val(val).trigger('change').on('change', function () {
                        var val = $select.val();
                        if (val) {
                            if ($select.attr('id').endsWith('input_file'))
                                autofill_if_exists($tr.find('select[id$=output_file]'), getMatchingOutputFile(val, window.valid_files));
                            else
                                autofill_if_exists($tr.find('select[id$=input_file]'), getMatchingInputFile(val, window.valid_files));
                        }
                    });
                });
            });

            var order = 0;

            function handle_table_reorder() {
                var in_batch = false;
                $table.find('tbody:first tr').each(function () {
                    switch ($(this).attr('data-type')) {
                        case 'C':
                            $(this).find('input[id$=points], input[id$=pretest]').toggle(!in_batch);
                            break;
                        case 'S':
                            in_batch = true;
                            break;
                        case 'E':
                            in_batch = false;
                    }
                });
            }

            function try_parse_json(json) {
                try {
                    return JSON.parse(json);
                } catch (e) {
                    return {};
                }
            }

            function checker_precision($checker) {
                var $td = $checker.parent();
                var $args = $td.find('input');
                var $precision = $('<input>', {
                    type: 'number',
                    value: try_parse_json($args.val()).precision || 6,
                    title: {{ _('precision (decimal digits)')|htmltojs }},
                    style: 'width: 4em'
                }).change(function () {
                    if ($checker.val().startsWith('floats'))
                        $args.val(JSON.stringify({precision: parseInt($(this).val())}));
                    else
                        $args.val('');
                }).appendTo($td);

                $checker.change(function () {
                    $precision.toggle($checker.val().startsWith('floats')).change();
                }).change();
            }

            function swap_row($a, $b) {
                var $a_order = $a.find('input[id$=order]'), $b_order = $b.find('input[id$=order]');
                var order = $a_order.val();
                $a_order.val($b_order.val());
                $b_order.val(order);
                $b.after($a);
                $a.find('span.order').text($a_order.val());
                $b.find('span.order').text($b_order.val());
                handle_table_reorder();
            }

            checker_precision($('#id_problem-data-checker'));

            $table.on('add-row', function (e, $tr) {
                var $order = $tr.find('input').filter('[id$=order]').attr('type', 'hidden').val(++order);
                $order.after($('<span>', {'class': 'order'}).text($order.val()))
                    .after($('<i>', {'class': 'fa fa-fw fa-lg fa-ellipsis-v'}));

                var $opts = $tr.find('input').slice(2, 6);
                var $files = $tr.find('select').slice(1, 3);
                var $checker = $files.end().last();
                $tr.find('select[id$=type]').change(function () {
                    var $this = $(this), val = $this.val(), disabled;
                    switch (val) {
                        case 'S':
                        case 'E':
                            disabled = val == 'S';
                            $opts.toggle(val == 'S');
                            $files.siblings('.select2').hide();
                            $checker.toggle(val == 'S');
                            break;
                        default:
                            $opts.toggle(val == 'C');
                            $files.siblings('.select2').toggle(val == 'C');
                            $checker.toggle(val == 'C');
                            var $prevs = $tr.prevAll('tr[data-type=S], tr[data-type=E]');
                            disabled = $prevs.length && $prevs.get(0).getAttribute('data-type') == 'S';
                            $tr.find('input[id$=points], input[id$=pretest]').toggle(val == 'C' && !disabled);
                    }
                    $tr.attr('data-type', val).nextUntil('tr[data-type=S], tr[data-type=E], tr[data-type=""]')
                        .find('input[id$=points], input[id$=pretest]').toggle(!disabled);
                }).change();

                function addToolTip(linkClass, editorClass) {
                    var tooltip_classes = 'tooltipped tooltipped-s';
                    $tr.find(linkClass).mouseover(function () {
                        switch ($tr.attr('data-type')) {
                            case 'C':
                            case 'S':
                            var $this = $(this).addClass(tooltip_classes);
                            $this.attr('aria-label', $this.prev().val() || '(none)');
                        }
                    }).mouseout(function () {
                        $(this).removeClass(tooltip_classes).removeAttr('aria-label');
                    }).featherlight($(editorClass), {
                        beforeOpen: function () {
                            switch ($tr.attr('data-type')) {
                                case 'C':
                                case 'S':
                                return true;
                                default:
                                return false;
                            }
                        },
                        afterOpen: function () {
                            var $input = this.$currentTarget.prev();
                            this.$instance.find(editorClass)
                            .find('textarea').val($input.val()).end()
                            .find('.button').click(function () {
                                $input.val($(this).prev().val());
                                $.featherlight.current().close();
                            }).end()
                            .show();
                        }
                    });
                }

                addToolTip('a.edit-generator-args', '.generator-args-editor');
                addToolTip('a.edit-batch-dependencies', '.batch-dependencies-editor');

                checker_precision($tr.find('select[id$=checker]'));
            }).find('tbody:first').find('tr').each(function () {
                $table.trigger('add-row', [$(this)]);
            });

            $('form').submit(function () {
                $table.find('tbody:first').find('tr').each(function () {
                    var filled = false;
                    $(this).find('input, select').each(function () {
                        var $this = $(this);
                        if (!$this.attr('name'))
                            return;
                        if ($this.attr('type') === 'checkbox')
                            filled |= $this.is(':checked');
                        else if (!$this.attr('name').endsWith('order'))
                            filled |= !!$this.val();
                    });
                    if (!filled)
                        $(this).find('input[id$=order]').val('');
                });
            });

            var $total = $('#id_cases-TOTAL_FORMS');

            function detectTestPairs(validFiles) {
                if (!validFiles || !validFiles.length) return [];
                var files = validFiles.filter(function (f) { return f && !f.endsWith('/'); });
                var usedOutputs = {};
                var usedInputs = {};
                var pairs = [];

                for (var i = 0; i < files.length; i++) {
                    var f = files[i];
                    if (/\.(inp|in)$/i.test(f) || /(^|[\/_\.-])input/i.test(f)) {
                        var out = getMatchingOutputFile(f, files);
                        if (out && !usedOutputs[out]) {
                            pairs.push([f, out]);
                            usedOutputs[out] = true;
                            usedInputs[f] = true;
                        }
                    }
                }

                for (var j = 0; j < files.length; j++) {
                    var f2 = files[j];
                    if (!usedInputs[f2] && !usedOutputs[f2]) {
                        var out2 = getMatchingOutputFile(f2, files);
                        if (out2 && !usedOutputs[out2]) {
                            pairs.push([f2, out2]);
                            usedOutputs[out2] = true;
                            usedInputs[f2] = true;
                        }
                    }
                }

                pairs.sort(function (a, b) {
                    return a[0].localeCompare(b[0], undefined, { numeric: true, sensitivity: 'base' });
                });
                return pairs;
            }

            function populateAllPairs(pairs) {
                if (!pairs || !pairs.length) return;

                var $tbody = $table.find('tbody:first');
                var $rows = $tbody.find('tr');
                var pairIdx = 0;

                $rows.each(function () {
                    if (pairIdx >= pairs.length) {
                        $(this).remove();
                        return;
                    }
                    var $tr = $(this);
                    var $input = $tr.find('select[id$=input_file]');
                    var $output = $tr.find('select[id$=output_file]');
                    if ($input.length) {
                        $input.val(pairs[pairIdx][0]).trigger('change');
                        if ($output.length) {
                            $output.val(pairs[pairIdx][1]).trigger('change');
                        }
                        var $points = $tr.find('input[id$=points]');
                        if (!$points.val()) {
                            $points.val('1');
                        }
                        pairIdx++;
                    }
                });

                for (; pairIdx < pairs.length; pairIdx++) {
                    var $tr = $($table.find('.extra-row-body').html()
                        .replace(/__prefix__/g, $total.val()));
                    $tr.find('.type-column select option[value="C"]').attr('selected', true);
                    $total.val(parseInt($total.val(), 10) + 1);
                    $tbody.append($tr);
                    $table.trigger('add-row', [$tr]);

                    $tr.find('select[id$=input_file]').val(pairs[pairIdx][0]).trigger('change');
                    $tr.find('select[id$=output_file]').val(pairs[pairIdx][1]).trigger('change');
                    var $points = $tr.find('input[id$=points]');
                    if (!$points.val()) {
                        $points.val('1');
                    }
                }
                $total.val($tbody.find('tr').length);
            }

            // Auto-populate on page load if valid files exist and cases are not yet filled
            // Client-side ZIP parser
            function parseZipFilenames(buffer) {
                var view = new DataView(buffer);
                var filenames = [];
                var offset = 0;
                var len = buffer.byteLength;
                var textDecoder = new TextDecoder('utf-8');

                while (offset < len - 4) {
                    var sig = view.getUint32(offset, true);
                    if (sig === 0x04034b50) { // Local file header
                        var fnLen = view.getUint16(offset + 26, true);
                        var extraLen = view.getUint16(offset + 28, true);
                        var fnBytes = new Uint8Array(buffer, offset + 30, fnLen);
                        var fn = textDecoder.decode(fnBytes);
                        if (fn && !fn.endsWith('/') && filenames.indexOf(fn) === -1) {
                            filenames.push(fn);
                        }
                        offset += 30 + fnLen + extraLen;
                    } else if (sig === 0x02014b50) { // Central directory header
                        var fnLen = view.getUint16(offset + 28, true);
                        var extraLen = view.getUint16(offset + 30, true);
                        var commentLen = view.getUint16(offset + 32, true);
                        var fnBytes = new Uint8Array(buffer, offset + 46, fnLen);
                        var fn = textDecoder.decode(fnBytes);
                        if (fn && !fn.endsWith('/') && filenames.indexOf(fn) === -1) {
                            filenames.push(fn);
                        }
                        offset += 46 + fnLen + extraLen + commentLen;
                    } else {
                        offset++;
                    }
                }
                return filenames;
            }

            // Client-side auto-fill immediately when user chooses a zip file
            // Instruction modal toggle
            $(document).on('click', '#btn-checker-instruction', function (e) {
                e.preventDefault();
                $('#testlib-instruction-modal').css('display', 'flex').hide().fadeIn(200);
            });
            $(document).on('click', '#testlib-instruction-modal', function (e) {
                if ($(e.target).is('#testlib-instruction-modal')) {
                    $(this).fadeOut(200);
                }
            });

            // Parse zip button click handler
            $(document).on('click', '#btn-parse-zip', function (e) {
                e.preventDefault();
                var $fileInput = $('input[type="file"][name$="zipfile"]');
                var file = $fileInput.length && $fileInput[0].files && $fileInput[0].files[0];
                if (file) {
                    $fileInput.trigger('change');
                    return;
                }
                if (window.valid_files && window.valid_files.length) {
                    var detectedPairs = detectTestPairs(window.valid_files);
                    if (detectedPairs.length > 0) {
                        populateAllPairs(detectedPairs);
                        $('#auto-populate-notice').addClass('is-visible');
                    }
                } else {
                    var $link = $('a[href*="_Tests.zip"], a[href*=".zip"]');
                    if ($link.length) {
                        var zipUrl = $link.attr('href');
                        fetch(zipUrl).then(function (res) {
                            return res.arrayBuffer();
                        }).then(function (buffer) {
                            var filenames = parseZipFilenames(buffer);
                            if (filenames && filenames.length) {
                                window.valid_files = filenames;
                                var optionsHtml = '<option value="">---------</option>';
                                filenames.forEach(function (f) {
                                    optionsHtml += '<option value="' + f + '">' + f + '</option>';
                                });
                                $table.find('select[id$=input_file], select[id$=output_file]').html(optionsHtml);
                                var detectedPairs = detectTestPairs(filenames);
                                if (detectedPairs.length > 0) {
                                    populateAllPairs(detectedPairs);
                                    $('#auto-populate-notice').addClass('is-visible');
                                }
                            }
                        }).catch(function (err) {
                            console.error('Failed to load existing zip:', err);
                        });
                    }
                }
            });

            // Uncheck clear checkbox when a new zip is selected
            // and auto-populate test cases immediately before submit
            $(document).on('change', '#id_problem-data-zipfile, input[type="file"][name$="zipfile"]', function (e) {
                var file = e.target.files && e.target.files[0];
                if (!file) return;

                $('input[name$="-clear"]').prop('checked', false);

                var reader = new FileReader();
                reader.onload = function (ev) {
                    var buffer = ev.target.result;
                    var filenames = parseZipFilenames(buffer);
                    if (!filenames || !filenames.length) return;

                    window.valid_files = filenames;

                    // Update select options in table
                    var optionsHtml = '<option value="">---------</option>';
                    filenames.forEach(function (f) {
                        optionsHtml += '<option value="' + f + '">' + f + '</option>';
                    });
                    $table.find('select[id$=input_file], select[id$=output_file]').html(optionsHtml);
                    var $extra = $table.find('.extra-row-body');
                    if ($extra.length) {
                        $extra.find('select[id$=input_file], select[id$=output_file]').html(optionsHtml);
                    }

                    var detectedPairs = detectTestPairs(filenames);
                    if (detectedPairs.length > 0) {
                        populateAllPairs(detectedPairs);
                        $('#auto-populate-notice').addClass('is-visible');
                    }
                };
                reader.readAsArrayBuffer(file);
            });

            // When user checks Clear zip checkbox: immediately remove all test cases and hide alert!
            $(document).on('change', 'input[name$="-clear"]', function () {
                if ($(this).is(':checked')) {
                    $table.find('tbody:first tr').remove();
                    $total.val(0);
                    $('#auto-populate-notice').removeClass('is-visible');
                }
            });

            // Hide banner upon submitting form
            $('form').on('submit', function () {
                $('#auto-populate-notice').removeClass('is-visible');
            });

            $('a#add-case-row').click(function () {
                var $tr;
                $table.find('tbody:first').append($tr = $($table.find('.extra-row-body').html()
                    .replace(/__prefix__/g, $total.val())));
                $tr.find('.type-column select option[value="C"]').attr('selected', true);
                $total.val(parseInt($total.val()) + 1);
                $table.trigger('add-row', [$tr]);
                window.scrollBy(0, $tr.height());
                return false;
            });

            var oldIndex;
            $table.sortable({
                containerSelector: 'table',
                itemPath: '> tbody:first',
                itemSelector: 'tr',
                handle: 'i.fa-ellipsis-v',
                placeholder: '<tr class="placeholder">',
                onDragStart: function ($item, container, _super) {
                    oldIndex = $item.index();
                    _super($item, container);
                },
                onDrop: function ($item, container, _super) {
                    var newIndex = $item.index();
                    if (newIndex > oldIndex) {
                        var order = parseInt($item.parent().children().slice(oldIndex, newIndex).each(function () {
                            var $order = $(this).find('input[id$=order]');
                            $order.val(parseInt($order.val()) - 1).siblings('span.order').text($order.val());
                        }).last().after($item).find('input[id$=order]').val());
                        $item.find('input[id$=order]').val(order + 1).siblings('span.order').text(order + 1);
                    } else if (newIndex < oldIndex) {
                        var order = parseInt($item.parent().children().slice(newIndex + 1, oldIndex + 1).each(function () {
                            var $order = $(this).find('input[id$=order]');
                            $order.val(parseInt($order.val()) + 1).siblings('span.order').text($order.val());
                        }).first().before($item).find('input[id$=order]').val());
                        $item.find('input[id$=order]').val(order - 1).siblings('span.order').text(order - 1);
                    }
                    if (newIndex != oldIndex)
                        handle_table_reorder();
                    _super($item, container);
                }
            });

            var $controls = $('#column-visible');
            var problem = $controls.attr('data-problem');
            $controls.find('input').change(function () {
                var $this = $(this), suffix = $this.attr('data-suffix'), checked = $this.is(':checked');
                $table.find('.' + suffix.replace(/_/g, '-')).toggle(checked);
                localStorage.setItem('data-visible:' + problem + ':' + suffix, checked ? '1' : '0')
            }).each(function () {
                var $this = $(this), suffix = $this.attr('data-suffix'), filled = false;
                filled = localStorage.getItem('data-visible:' + problem + ':' + suffix);
                if (filled !== null)
                    filled = filled == '1';
                else {
                    filled = false;
                    $table.find('[id$=' + suffix + ']').each(function () {
                        filled |= !!$(this).val();
                    });
                }
                $this.prop('checked', filled).trigger('change');
            });
        });
    </script>
{% endblock %}

{% block media %}
    <style>
        #case-table .select2 {
            text-align: initial;
        }

        .order-column {
            width: 1em;
        }

        .bad-file input, .bad-file .select2-selection {
            border-color: red;
        }

        span.order {
            padding-right: 0.5em;
        }

        body.dragging, body.dragging * {
            cursor: move !important;
        }

        .dragged {
            position: absolute;
            opacity: 0.5;
            z-index: 2000;
        }

        tr.placeholder {
            display: block;
            background: red;
            position: relative;
            margin: 0;
            padding: 0;
            border: none;
        }

        tr.placeholder:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-left-color: red;
            margin-top: -5px;
            left: -5px;
            border-right: none;
        }

        i.fa-ellipsis-v {
            cursor: move;
        }

        .edit-generator-args, .edit-batch-dependencies {
            position: relative;
        }

        .generator-args-editor textarea, .batch-dependencies-editor textarea {
            display: block;
            width: 100%;
            margin-bottom: 0.5em;
            height: 8em;
        }

        .generator-args-editor .button, .batch-dependencies-editor .button {
            display: block;
            float: right;
        }

        #case-table tbody td {
            white-space: nowrap;
        }

        .type-column {
            width: 8em;
        }

        ul.errorlist {
            border: 1px solid rgba(239, 68, 68, 0.3) !important;
            border-radius: 12px !important;
            padding: 12px 18px !important;
            background: rgba(239, 68, 68, 0.15) !important;
            color: #fca5a5 !important;
            margin-bottom: 20px !important;
        }

        /* ========================================================
           TEST DATA REDESIGN STYLING (CSAT Tutor Geist Dark Theme)
           ======================================================== */
        /* Vertical Data Table (Image #1) */
        .vertical-data-table {
            width: 100% !important;
            background: #0d1322 !important;
            border: 1px solid rgba(255, 255, 255, 0.1) !important;
            border-radius: 16px !important;
            overflow: hidden !important;
            border-collapse: separate !important;
            border-spacing: 0 !important;
            margin-bottom: 24px !important;
            box-shadow: 0 16px 36px rgba(0, 0, 0, 0.45) !important;
        }

        .vertical-data-table tr {
            border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
        }

        .vertical-data-table tr:last-child {
            border-bottom: none !important;
        }

        .vertical-data-table th.v-label-col {
            width: 240px !important;
            background: #0c213d !important;
            color: #ffffff !important;
            font-size: 14px !important;
            font-weight: 700 !important;
            text-align: center !important;
            vertical-align: middle !important;
            padding: 16px 20px !important;
            border-right: 1px solid rgba(255, 255, 255, 0.08) !important;
            border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
            box-sizing: border-box !important;
        }

        .vertical-data-table tr:last-child th.v-label-col {
            border-bottom: none !important;
        }

        .vertical-data-table td.v-control-col {
            background: rgba(13, 19, 34, 0.8) !important;
            padding: 14px 28px !important;
            vertical-align: middle !important;
            border-bottom: 1px solid rgba(255, 255, 255, 0.04) !important;
            color: #e2e8f0 !important;
            box-sizing: border-box !important;
        }

        .vertical-data-table tr:last-child td.v-control-col {
            border-bottom: none !important;
        }

        .v-control-center {
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            gap: 8px !important;
            width: 100% !important;
            max-width: 620px !important;
            margin: 0 auto !important;
        }

        .v-control-center.v-row-layout {
            flex-direction: row !important;
            justify-content: center !important;
        }

        .vertical-data-table select,
        .vertical-data-table input[type="text"],
        .vertical-data-table input[type="number"] {
            width: 100% !important;
            max-width: 480px !important;
            padding: 10px 16px !important;
            background: #090d18 !important;
            border: 1px solid rgba(255, 255, 255, 0.12) !important;
            border-radius: 10px !important;
            color: #ffffff !important;
            font-size: 13.5px !important;
            outline: none !important;
            transition: all 0.2s ease !important;
        }

        .vertical-data-table select:focus,
        .vertical-data-table input[type="text"]:focus,
        .vertical-data-table input[type="number"]:focus {
            border-color: #38bdf8 !important;
            box-shadow: 0 0 12px rgba(56, 189, 248, 0.25) !important;
        }

        .v-file-wrap {
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            gap: 6px !important;
            font-size: 13px !important;
            color: #94a3b8 !important;
        }

        .v-file-wrap a {
            color: #60a5fa !important;
            text-decoration: none !important;
        }

        .v-file-wrap a:hover {
            text-decoration: underline !important;
        }

        .v-file-wrap label {
            cursor: pointer !important;
            color: #cbd5e1 !important;
            margin-left: 6px !important;
        }

        .v-file-wrap input[type="checkbox"] {
            accent-color: #0284c7 !important;
            vertical-align: middle !important;
        }

        .v-file-wrap input[type="file"] {
            color: #cbd5e1 !important;
            font-size: 12.5px !important;
        }

        .v-zip-btn {
            background: #005689 !important;
            color: #ffffff !important;
            padding: 8px 22px !important;
            border-radius: 6px !important;
            font-size: 13px !important;
            font-weight: 600 !important;
            border: 1px solid rgba(255, 255, 255, 0.15) !important;
            box-shadow: 0 2px 8px rgba(0, 86, 137, 0.4) !important;
            cursor: pointer !important;
            transition: all 0.2s ease !important;
            margin-top: 4px !important;
            display: inline-flex !important;
            align-items: center !important;
            gap: 6px !important;
        }

        .v-zip-btn:hover {
            background: #006dae !important;
            transform: translateY(-1px) !important;
            box-shadow: 0 4px 14px rgba(0, 109, 174, 0.5) !important;
        }

        .v-instruction-link {
            color: #60a5fa !important;
            font-size: 13px !important;
            text-decoration: none !important;
            font-weight: 500 !important;
            margin-left: 14px !important;
            display: inline-flex !important;
            align-items: center !important;
            gap: 5px !important;
            cursor: pointer !important;
            white-space: nowrap !important;
        }

        .v-instruction-link:hover {
            text-decoration: underline !important;
            color: #93c5fd !important;
        }

        .v-helper-text {
            font-size: 12.5px !important;
            color: #94a3b8 !important;
            margin-top: 2px !important;
            text-align: center !important;
        }

        /* Alert Banner (Image #2) */
        .auto-fill-alert {
            display: none !important;
            background: rgba(245, 158, 11, 0.1) !important;
            border: 1px solid rgba(245, 158, 11, 0.3) !important;
            border-left: 4px solid #f59e0b !important;
            border-radius: 14px !important;
            padding: 16px 20px !important;
            margin: 18px 0 !important;
            color: #fef3c7 !important;
            align-items: flex-start !important;
            justify-content: space-between !important;
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25), 0 0 16px rgba(245, 158, 11, 0.08) !important;
            box-sizing: border-box !important;
        }

        .auto-fill-alert.is-visible {
            display: flex !important;
        }

        .alert-content {
            display: flex !important;
            flex-direction: column !important;
            gap: 4px !important;
        }

        .alert-title {
            display: flex !important;
            align-items: center !important;
            gap: 8px !important;
            font-size: 15px !important;
            color: #fbbf24 !important;
            margin-bottom: 2px !important;
        }

        .alert-p1, .alert-p2 {
            margin: 0 !important;
            font-size: 13.5px !important;
            color: #fde68a !important;
            line-height: 1.5 !important;
        }

        .alert-close {
            color: #fbbf24 !important;
            font-size: 20px !important;
            text-decoration: none !important;
            opacity: 0.7 !important;
            padding: 0 4px !important;
            line-height: 1 !important;
            cursor: pointer !important;
        }

        .alert-close:hover {
            opacity: 1 !important;
        }

        /* Show Columns Toolbar */
        #column-visible {
            background: rgba(255, 255, 255, 0.02) !important;
            border: 1px solid rgba(255, 255, 255, 0.06) !important;
            border-radius: 12px !important;
            padding: 12px 20px !important;
            margin: 18px 0 !important;
            display: flex !important;
            align-items: center !important;
            gap: 16px !important;
            flex-wrap: wrap !important;
            box-sizing: border-box !important;
        }

        #column-visible strong {
            font-size: 12px !important;
            text-transform: uppercase !important;
            letter-spacing: 0.5px !important;
            color: #94a3b8 !important;
        }

        #column-visible label {
            font-size: 13px !important;
            color: #cbd5e1 !important;
            cursor: pointer !important;
            display: inline-flex !important;
            align-items: center !important;
            gap: 6px !important;
            user-select: none !important;
        }

        #column-visible input[type="checkbox"] {
            accent-color: #0284c7 !important;
            width: 15px !important;
            height: 15px !important;
            cursor: pointer !important;
        }

        /* Test Case Table */
        #case-table {
            background: #0d1322 !important;
            border: 1px solid rgba(255, 255, 255, 0.08) !important;
            border-radius: 18px !important;
            overflow: hidden !important;
            width: 100% !important;
            border-collapse: separate !important;
            border-spacing: 0 !important;
            margin-top: 10px !important;
            box-shadow: 0 16px 36px rgba(0, 0, 0, 0.4) !important;
        }

        #case-table thead th {
            background: rgba(255, 255, 255, 0.03) !important;
            color: #64748b !important;
            font-size: 11.5px !important;
            text-transform: uppercase !important;
            letter-spacing: 0.5px !important;
            padding: 12px 14px !important;
            border: none !important;
            border-bottom: 1px solid rgba(255, 255, 255, 0.06) !important;
        }

        #case-table tbody tr {
            background: rgba(255, 255, 255, 0.01) !important;
            transition: background 0.15s ease !important;
        }

        #case-table tbody tr:hover {
            background: rgba(56, 189, 248, 0.05) !important;
        }

        #case-table tbody td {
            padding: 10px 12px !important;
            border-bottom: 1px solid rgba(255, 255, 255, 0.03) !important;
            color: #e2e8f0 !important;
            vertical-align: middle !important;
        }

        #case-table tbody tr:last-child td {
            border-bottom: none !important;
        }

        #case-table select,
        #case-table input[type="text"],
        #case-table input[type="number"] {
            background: rgba(0, 0, 0, 0.35) !important;
            border: 1px solid rgba(255, 255, 255, 0.1) !important;
            border-radius: 8px !important;
            color: #ffffff !important;
            padding: 6px 10px !important;
            font-size: 12.5px !important;
            outline: none !important;
        }

        #case-table select:focus,
        #case-table input:focus {
            border-color: #38bdf8 !important;
            box-shadow: 0 0 10px rgba(56, 189, 248, 0.25) !important;
        }

        #case-table input[type="checkbox"] {
            accent-color: #0284c7 !important;
            cursor: pointer !important;
        }

        /* Bottom Action Buttons */
        .test-data-bottom-actions {
            margin-top: 24px !important;
            margin-bottom: 40px !important;
            display: flex !important;
            align-items: center !important;
            gap: 14px !important;
        }

        .submit-pill-btn {
            display: inline-flex !important;
            align-items: center !important;
            justify-content: center !important;
            padding: 10px 28px !important;
            border-radius: 100px !important;
            background: linear-gradient(135deg, #0284c7 0%, #0369a1 100%) !important;
            color: #ffffff !important;
            font-size: 13.5px !important;
            font-weight: 700 !important;
            border: 1px solid rgba(255, 255, 255, 0.2) !important;
            box-shadow: 0 4px 16px rgba(2, 132, 199, 0.4) !important;
            cursor: pointer !important;
            transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
        }

        .submit-pill-btn:hover {
            background: linear-gradient(135deg, #0ea5e9 0%, #0284c7 100%) !important;
            transform: translateY(-1px) !important;
            box-shadow: 0 6px 20px rgba(56, 189, 248, 0.55) !important;
        }

        .add-case-pill-btn {
            display: inline-flex !important;
            align-items: center !important;
            gap: 6px !important;
            padding: 9px 20px !important;
            border-radius: 100px !important;
            background: rgba(255, 255, 255, 0.05) !important;
            border: 1px solid rgba(255, 255, 255, 0.1) !important;
            color: #38bdf8 !important;
            font-size: 13px !important;
            font-weight: 600 !important;
            text-decoration: none !important;
            transition: all 0.2s ease !important;
        }

        .add-case-pill-btn:hover {
            background: rgba(56, 189, 248, 0.15) !important;
            border-color: rgba(56, 189, 248, 0.35) !important;
            transform: translateY(-1px) !important;
        }
    </style>
{% endblock %}

{% block title_ruler %}{% endblock %}
{% block header %}{% endblock %}

{% block title_row %}
    <div class="problem-header-card" style="margin-top: 10px;">
        <div class="problem-header-left">
            <div class="problem-header-tag">TEST DATA &bull; {{ problem.code }}</div>
            <div class="problem-title-group">
                <h2>{{ _('Editing data for') }} <a href="{{ url('problem_detail', problem.code) }}" style="color: #38bdf8; text-decoration: none;">{{ problem.name }}</a></h2>
            </div>
        </div>
        <div class="problem-header-right">
            {% if data_form.instance.has_yml %}
                <a href="{{ url('problem_data_init', problem.code) }}" class="header-action-btn">
                    <svg width="13" height="13" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line></svg>
                    <span>{{ _('View YAML') }}</span>
                </a>
            {% endif %}
            <a href="{{ url('problem_detail', problem.code) }}" class="header-action-btn">
                <svg width="13" height="13" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
                <span>{{ _('Back to problem') }}</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block body %}
    {% if data_form.instance.feedback %}
        <ul class="errorlist">
            <li>{{ data_form.instance.feedback }}</li>
        </ul>
    {% endif %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ cases_formset.management_form }}
        <!-- Redesigned Problem Data & Checker Configuration Card -->
        <!-- Vertical Configuration Table (Image #1) -->
        <table class="vertical-data-table">
            <tbody>
                <!-- Data zip file -->
                <tr>
                    <th class="v-label-col">{{ _('Data zip file:') }}</th>
                    <td class="v-control-col">
                        <div class="v-control-center">
                            {{ data_form['zipfile'].errors }}
                            <div class="v-file-wrap">
                                {{ data_form['zipfile'] }}
                            </div>
                            <button type="button" id="btn-parse-zip" class="v-zip-btn">
                                {{ _('Please press this button if you have just updated the zip data') }}
                            </button>
                        </div>
                    </td>
                </tr>

                <!-- Generator file -->
                <tr>
                    <th class="v-label-col">{{ _('Generator file:') }}</th>
                    <td class="v-control-col">
                        <div class="v-control-center">
                            {{ data_form['generator'].errors }}
                            <div class="v-file-wrap">
                                {{ data_form['generator'] }}
                            </div>
                        </div>
                    </td>
                </tr>

                <!-- Checker -->
                <tr>
                    <th class="v-label-col">{{ _('Checker:') }}</th>
                    <td class="v-control-col">
                        <div class="v-control-center v-row-layout">
                            {{ data_form['checker'].errors }}
                            {{ data_form['checker'] }}
                            <a href="javascript:void(0)" id="btn-checker-instruction" class="v-instruction-link" title="{{ _('View testlib.h documentation and syntax') }}">
                                <i class="fa fa-info-circle"></i> {{ _('Instruction') }}
                            </a>
                        </div>
                        <div style="display: none;">
                            {{ data_form['checker_args'] }}
                        </div>
                    </td>
                </tr>

                <!-- Output limit length -->
                <tr>
                    <th class="v-label-col">{{ _('Output limit length:') }}</th>
                    <td class="v-control-col">
                        <div class="v-control-center">
                            {{ data_form['output_limit'].errors }}
                            {{ data_form['output_limit'] }}
                            <div class="v-helper-text">
                                {{ _('Có thể bỏ trống. Chỉ thay đổi nếu độ dài của output quá dài (hơn 20Mb).') }}
                            </div>
                        </div>
                    </td>
                </tr>

                <!-- Output prefix length -->
                <tr>
                    <th class="v-label-col">{{ _('Output prefix length:') }}</th>
                    <td class="v-control-col">
                        <div class="v-control-center">
                            {{ data_form['output_prefix'].errors }}
                            {{ data_form['output_prefix'] }}
                            <div class="v-helper-text">
                                {{ _('Có thể bỏ trống. Giới hạn tiền tố của output hiển thị.') }}
                            </div>
                        </div>
                    </td>
                </tr>

                <!-- Enable unicode -->
                <tr>
                    <th class="v-label-col">{{ _('Enable unicode:') }}</th>
                    <td class="v-control-col">
                        <div class="v-control-center">
                            {{ data_form['unicode'].errors }}
                            {{ data_form['unicode'] }}
                        </div>
                    </td>
                </tr>

                <!-- Disable bigInteger -->
                <tr>
                    <th class="v-label-col">{{ _('Disable bigInteger:') }}</th>
                    <td class="v-control-col">
                        <div class="v-control-center">
                            {{ data_form['nobigmath'].errors }}
                            {{ data_form['nobigmath'] }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Testlib Instruction Modal -->
        <div id="testlib-instruction-modal" style="display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.75); z-index: 99999; align-items: center; justify-content: center; backdrop-filter: blur(4px);">
            <div style="background: #0d1322; border: 1px solid rgba(255,255,255,0.15); border-radius: 16px; padding: 24px 28px; max-width: 600px; width: 90%; box-shadow: 0 20px 50px rgba(0,0,0,0.7); color: #e2e8f0; box-sizing: border-box;">
                <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 16px; border-bottom: 1px solid rgba(255,255,255,0.08); padding-bottom: 12px;">
                    <h3 style="margin: 0; font-size: 16px; color: #38bdf8; display: flex; align-items: center; gap: 8px;">
                        <i class="fa fa-info-circle"></i> {{ _('Hướng dẫn sử dụng Checker Testlib (testlib.h)') }}
                    </h3>
                    <a href="javascript:void(0)" onclick="$('#testlib-instruction-modal').fadeOut(200)" style="color: #94a3b8; font-size: 22px; line-height: 1; text-decoration: none;">&times;</a>
                </div>
                <div style="font-size: 13.5px; line-height: 1.6; color: #cbd5e1;">
                    <p style="margin-top: 0;"><strong>1. Cấu hình:</strong> Đặt file <code>checker.cpp</code> vào thư mục / file zip dữ liệu bài tập. Thư viện <code>testlib.h</code> đã được tích hợp sẵn trên hệ thống chấm.</p>
                    <p><strong>2. Mẫu mã nguồn checker.cpp:</strong></p>
                    <pre style="background: #070a12; padding: 12px; border-radius: 8px; font-size: 12px; color: #a5f3fc; border: 1px solid rgba(255,255,255,0.08); overflow-x: auto; margin: 8px 0;">#include "testlib.h"

int main(int argc, char* argv[]) {
    registerTestlibCmd(argc, argv);
    int ja = ans.readInt();
    int pa = ouf.readInt();
    if (ja != pa)
        quitf(_wa, "Sai kết quả: dự kiến %d, nhận được %d", ja, pa);
    quitf(_ok, "Kết quả chính xác!");
}</pre>
                    <p style="margin: 8px 0;"><strong>Các luồng chuẩn:</strong> <code>inf</code> (dữ liệu vào), <code>ouf</code> (bài làm nộp), <code>ans</code> (đáp án chuẩn).</p>
                    <div style="margin-top: 14px; text-align: right;">
                        <a href="https://github.com/MikeMirzayanov/testlib" target="_blank" style="color: #38bdf8; text-decoration: none; font-size: 13px; font-weight: 500;">
                            <i class="fa fa-external-link"></i> {{ _('Tài liệu Testlib trên GitHub') }} &rarr;
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Alert Notification (Image #2) -->
        <div id="auto-populate-notice" class="auto-fill-alert">
            <div class="alert-content">
                <div class="alert-title">
                    <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#f59e0b" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                    <strong>{{ _('Test cases have been filled automatically!') }}</strong>
                </div>
                <p class="alert-p1">{{ _('Test cases have been filled automatically and') }} <strong>{{ _('not saved yet') }}</strong>!</p>
                <p class="alert-p2">{{ _('Please modify the table below if needed and press the `Submit!` button to save!') }}</p>
            </div>
            <a href="#" class="alert-close" onclick="$(this).closest('.auto-fill-alert').fadeOut(200); return false;" title="{{ _('Close') }}">&times;</a>
        </div>

        <div id="column-visible" data-problem="{{ problem.code }}">
            <strong>{{ _('Show columns:') }}</strong>
            <label>
                <input type="checkbox" data-suffix="output_prefix">
                {{ _('Output prefix') }}
            </label>
            <label>
                <input type="checkbox" data-suffix="output_limit">
                {{ _('Output limit') }}
            </label>
            <label>
                <input type="checkbox" data-suffix="checker">
                {{ _('Checker') }}
            </label>
            <label>
                <input type="checkbox" data-suffix="generator_args">
                {{ _('Generator args') }}
            </label>
            <label>
                <input type="checkbox" data-suffix="batch_dependencies">
                {{ _('Batch dependencies') }}
            </label>
        </div>
        <table id="case-table" class="table">
            <thead>
            <tr>
                <th class="order-column"></th>
                <th class="type-column">{{ _('Type') }}</th>
                <th>{{ _('Input file') }}</th>
                <th>{{ _('Output file') }}</th>
                <th>{{ _('Points') }}</th>
                <th>{{ _('Pretest?') }}</th>
                <th class="output-prefix">{{ _('Output prefix') }}</th>
                <th class="output-limit">{{ _('Output limit') }}</th>
                <th class="checker">{{ _('Checker') }}</th>
                <th class="generator-args">{{ _('Generator args') }}</th>
                <th class="batch-dependencies">{{ _('Batch Dependencies') }}</th>
                {% if cases_formset.can_delete %}
                    <th>{{ _('Delete?') }}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for form in all_case_forms %}
                {% if form.non_field_errors() %}
                    <tr>
                        <td colspan="{{ 9 + cases_formset.can_delete }}">{{ form.non_field_errors() }}</td>
                    </tr>
                {% endif %}
                {% if form.prefix and '__prefix__' in form.prefix %}
                    </tbody>
                    <tbody class="extra-row-body" style="display: none">
                {% endif %}
                <tr data-type="{{ form['type'].value() }}">
                    <td>{{ form.id }}{{ form.order.errors }}{{ form.order }}</td>
                    <td class="type-column">{{ form.type.errors }}{{ form.type }}</td>
                    <td{% if not (form.empty_permitted or form['type'].value() != 'C' or
                                  form['input_file'].value() in valid_files) %} class="bad-file"{% endif %}>
                        {{ form.input_file.errors }}{{ form.input_file }}
                    </td>
                    <td{% if not (form.empty_permitted or form['type'].value() != 'C' or
                                  form['output_file'].value() in valid_files) %} class="bad-file"{% endif %}>
                        {{ form.output_file.errors }}{{ form.output_file }}
                    </td>
                    <td>{{ form.points.errors }}{{ form.points }}</td>
                    <td>{{ form.is_pretest.errors }}{{ form.is_pretest }}</td>
                    <td class="output-prefix">{{ form.output_prefix.errors }}{{ form.output_prefix }}</td>
                    <td class="output-limit">{{ form.output_limit.errors }}{{ form.output_limit }}</td>
                    <td class="checker">
                        {{ form.checker.errors }}{{ form.checker }}{{ form.checker_args.errors }}{{ form.checker_args }}
                    </td>
                    <td class="generator-args">{{ form.generator_args.errors }}{{ form.generator_args }}
                        <a href="javascript:void(0)" class="edit-generator-args">
                            <i class="fa fa-pencil"></i>
                            {{ _('Edit') }}
                        </a>
                    </td>
                    <td class="batch-dependencies">{{ form.batch_dependencies.errors }}{{ form.batch_dependencies }}
                        <a href="javascript:void(0)" class="edit-batch-dependencies">
                            <i class="fa fa-pencil"></i>
                            {{ _('Edit') }}
                        </a>
                    </td>
                    {% if cases_formset.can_delete %}
                        <td>{{ form.DELETE }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="test-data-bottom-actions">
            <input type="submit" value="{{ _('Submit!') }}" class="submit-pill-btn">
            <a id="add-case-row" href="#" class="add-case-pill-btn">
                <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                <span>{{ _('Add new case') }}</span>
            </a>
        </div>
    </form>
    <div style="display: none" class="generator-args-editor"><textarea></textarea><a class="button">{{ _('Save') }}</a></div>
    <div style="display: none" class="batch-dependencies-editor"><textarea></textarea><a class="button">{{ _('Save') }}</a></div>
{% endblock %}
