<div class="sub-result-col">
    <div class="sub-badge {{ breakdown.sub_result_class }}">
        <i class="fa fa-check-circle"></i>
        <span>{{ breakdown.sub_short_status }}</span>
    </div>
    <div class="sub-score-box">
        <span class="sub-score-cur">{{ breakdown.sub_points|floatformat(0) }}</span>
        <span class="sub-score-slash">/</span>
        <span class="sub-score-tot">{{ breakdown.sub_total|floatformat(0) }}</span>
    </div>
</div>

<div class="sub-main-col">
    <div class="sub-problem-title">
        <a href="{{ url('problem_detail', breakdown.problem_code) }}" class="sub-problem-link">
            {{ breakdown.problem_name }}
        </a>
        <span class="sub-problem-code">{{ breakdown.problem_code }}</span>
    </div>
    <div class="sub-meta-row">
        <span class="sub-meta-item"><i class="fa fa-code"></i> {{ breakdown.sub_lang }}</span>
        <span class="sub-meta-dot">&bull;</span>
        <span class="sub-meta-item"><i class="fa fa-clock-o"></i> {{ relative_time(breakdown.sub_date) }}</span>
        <span class="sub-meta-dot">&bull;</span>
        <a href="{{ url('submission_status', breakdown.sub_id) }}" class="sub-meta-link">
            <i class="fa fa-file-text-o"></i> #{{ breakdown.sub_id }}
        </a>
    </div>
</div>

<div class="sub-pp-col">
    <div class="sub-pp-value">
        <a href="{{ url('submission_status', breakdown.sub_id) }}">
            {{ breakdown.points|floatformat(1) }} <span class="pp-unit">pp</span>
        </a>
    </div>
    <div class="sub-pp-weight">
        {% with percent=breakdown.weight|floatformat(0),
                pp=breakdown.scaled_points|floatformat(1 if breakdown.scaled_points < 10 else 0) %}
            <span class="sub-weight-pill">{{ percent }}% weight</span>
            <span class="sub-weight-val">({{ pp }}pp)</span>
        {% endwith %}
    </div>
</div>
